<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, '+${name}+'!'"></p>
    <p data-th-utext="${#strings.replace(#strings.escapeXml(curriculumVitae),'&#10;','&lt;br&gt;')}"></p>
    <p data-th-utext="${#strings.replace(#strings.escapeXml(myDescription),'&#10;','&lt;br&gt;')}"></p>
</body>
</html>
